<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PaisesWSPortBinding" />
        <binding name="EntidadesBancariasWSPortBinding" />
        <binding name="MonedasWSPortBinding" />
        <binding name="CuentasAcreedorWSPortBinding" />
        <binding name="FacturasWSPortBinding" />
        <binding name="ReportePropPagoWSPortBinding" />
        <binding name="AcreedoresWSPortBinding" />
        <binding name="ReporteFactPendWSPortBinding" />
        <binding name="PropuestaPagoWSPortBinding" />
        <binding name="UsuariosWSPortBinding" />
        <binding name="CuentasPropiasWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/SoftPacWS/PaisesWS"
        binding="basicHttpBinding" bindingConfiguration="PaisesWSPortBinding"
        contract="PaisesWS.PaisesWS" name="PaisesWSPort" />
      <endpoint address="http://localhost:8080/SoftPacWS/EntidadesBancariasWS"
        binding="basicHttpBinding" bindingConfiguration="EntidadesBancariasWSPortBinding"
        contract="EntidadesBancariasWS.EntidadesBancariasWS" name="EntidadesBancariasWSPort" />
      <endpoint address="http://localhost:8080/SoftPacWS/MonedasWS"
        binding="basicHttpBinding" bindingConfiguration="MonedasWSPortBinding"
        contract="MonedasWS.MonedasWS" name="MonedasWSPort" />
      <endpoint address="http://localhost:8080/SoftPacWS/CuentasAcreedorWS"
        binding="basicHttpBinding" bindingConfiguration="CuentasAcreedorWSPortBinding"
        contract="CuentasAcreedorWS.CuentasAcreedorWS" name="CuentasAcreedorWSPort" />
      <endpoint address="http://localhost:8080/SoftPacWS/FacturasWS"
        binding="basicHttpBinding" bindingConfiguration="FacturasWSPortBinding"
        contract="FacturasWS.FacturasWS" name="FacturasWSPort" />
      <endpoint address="http://localhost:8080/SoftPacWS/ReportePropPagoWS"
        binding="basicHttpBinding" bindingConfiguration="ReportePropPagoWSPortBinding"
        contract="ReportePropPagoWS.ReportePropPagoWS" name="ReportePropPagoWSPort" />
      <endpoint address="http://localhost:8080/SoftPacWS/AcreedoresWS"
        binding="basicHttpBinding" bindingConfiguration="AcreedoresWSPortBinding"
        contract="AcreedoresWS.AcreedoresWS" name="AcreedoresWSPort" />
      <endpoint address="http://localhost:8080/SoftPacWS/ReporteFactPendWS"
        binding="basicHttpBinding" bindingConfiguration="ReporteFactPendWSPortBinding"
        contract="ReporteFactPendWS.ReporteFactPendWS" name="ReporteFactPendWSPort" />
      <endpoint address="http://localhost:8080/SoftPacWS/PropuestaPagoWS"
        binding="basicHttpBinding" bindingConfiguration="PropuestaPagoWSPortBinding"
        contract="PropuestaPagoWS.PropuestaPagoWS" name="PropuestaPagoWSPort" />
      <endpoint address="http://localhost:8080/SoftPacWS/UsuariosWS"
        binding="basicHttpBinding" bindingConfiguration="UsuariosWSPortBinding"
        contract="UsuariosWS.UsuariosWS" name="UsuariosWSPort" />
      <endpoint address="http://localhost:8080/SoftPacWS/CuentasPropiasWS"
        binding="basicHttpBinding" bindingConfiguration="CuentasPropiasWSPortBinding"
        contract="CuentasPropiasWS.CuentasPropiasWS" name="CuentasPropiasWSPort" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <providerOption name="UseAspNetSettings" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <providerOption name="UseAspNetSettings" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
</configuration>