/Frontend_C#/SoftPac/packages
/Frontend_C#/SoftPac/SoftPacBusiness/bin
/Frontend_C#/SoftPac/SoftPacModel/bin
/Frontend_C#/SoftPac/SoftPacPersistance/bin
/Frontend_C#/SoftPac/SoftPacWA/bin
/Frontend_C#/SoftPac/.vs